# Housing Prices Classification

## Data Preparation

### Data Cleaning

In [201]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [202]:
df = pd.read_csv('Ames_Housing_Sales.csv')

In [203]:
df.head(100)

,1stFlrSF,2ndFlrSF,3SsnPorch,Alley,BedroomAbvGr,BldgType,BsmtCond,BsmtExposure,BsmtFinSF1,BsmtFinSF2,...,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856.0,854.0,0.0,NaN,3,1Fam,TA,No,706.0,0.0,...,0.0,Pave,8,856.0,AllPub,0.0,2003,2003,2008,208500.0
1,1262.0,0.0,0.0,NaN,3,1Fam,TA,Gd,978.0,0.0,...,0.0,Pave,6,1262.0,AllPub,298.0,1976,1976,2007,181500.0
2,920.0,866.0,0.0,NaN,3,1Fam,TA,Mn,486.0,0.0,...,0.0,Pave,6,920.0,AllPub,0.0,2001,2002,2008,223500.0
3,961.0,756.0,0.0,NaN,3,1Fam,Gd,No,216.0,0.0,...,0.0,Pave,7,756.0,AllPub,0.0,1915,1970,2006,140000.0
4,1145.0,1053.0,0.0,NaN,4,1Fam,TA,Av,655.0,0.0,...,0.0,Pave,9,1145.0,AllPub,192.0,2000,2000,2008,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,977.0,755.0,0.0,NaN,3,1Fam,NaN,NaN,0.0,0.0,...,0.0,Pave,7,741.0,AllPub,192.0,1985,1985,2010,178000.0
96,1535.0,0.0,0.0,NaN,4,Duplex,NaN,NaN,0.0,0.0,...,0.0,Pave,8,0.0,AllPub,0.0,1979,1979,2009,118964.0
97,1226.0,0.0,0.0,NaN,3,1Fam,NaN,NaN,0.0,0.0,...,0.0,Pave,6,1226.0,AllPub,0.0,2009,2009,2010,198900.0
98,1226.0,592.0,0.0,NaN,4,1Fam,TA,No,224.0,0.0,...,184.0,Pave,7,1040.0,AllPub,0.0,1931,1950,2007,169500.0
99,1053.0,939.0,0.0,NaN,3,1Fam,NaN,NaN,0.0,0.0,...,0.0,Pave,9,1053.0,AllPub,140.0,2003,2004,2008,250000.0

In [204]:
df.isna().sum()

1stFlrSF           0
2ndFlrSF           0
3SsnPorch          0
Alley           1297
BedroomAbvGr       0
                ...
WoodDeckSF         0
YearBuilt          0
YearRemodAdd       0
YrSold             0
SalePrice          0
Length: 80, dtype: int64

In [205]:
df.shape

(1379, 80)

In [206]:
df.dropna(axis=1, inplace = True)

In [207]:
df.shape

(1379, 69)

In [208]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1374    False
1375    False
1376    False
1377    False
1378    False
Length: 1379, dtype: bool

In [209]:
df.drop_duplicates()
print(df.shape)
df.describe().T

(1379, 69)

,count,mean,std,min,25%,50%,75%,max
1stFlrSF,1379.0,1177.129804,387.014961,438.0,894.0,1098.0,1414.0,4692.000000
2ndFlrSF,1379.0,353.424946,439.553171,0.0,0.0,0.0,738.5,2065.000000
3SsnPorch,1379.0,3.609862,30.154682,0.0,0.0,0.0,0.0,508.000000
BedroomAbvGr,1379.0,2.865120,0.783961,0.0,2.0,3.0,3.0,6.000000
BsmtFinSF1,1379.0,455.578680,459.691379,0.0,0.0,400.0,732.0,5644.000000
BsmtFinSF2,1379.0,48.102248,164.324665,0.0,0.0,0.0,0.0,1474.000000
BsmtFullBath,1379.0,0.430747,0.514052,0.0,0.0,0.0,1.0,2.000000
BsmtHalfBath,1379.0,0.058738,0.238285,0.0,0.0,0.0,0.0,2.000000
BsmtUnfSF,1379.0,570.765047,443.677845,0.0,228.0,476.0,811.0,2336.000000
EnclosedPorch,1379.0,21.039159,60.535107,0.0,0.0,0.0,0.0,552.000000
Fireplaces,1379.0,0.641769,0.645985,0.0,0.0,1.0,1.0,3.000000
FullBath,1379.0,1.580131,0.548051,0.0,1.0,2.0,2.0,3.000000
GarageArea,1379.0,500.762146,185.680520,160.0,380.0,484.0,580.0,1418.000000
GarageCars,1379.0,1.870921,0.630055,1.0,1.0,2.0,2.0,4.000000
GarageYrBlt,1379.0,1978.506164,24.689725,1900.0,1961.0,1980.0,2002.0,2010.000000
GrLivArea,1379.0,1534.689630,519.140514,438.0,1154.0,1479.0,1790.0,5642.000000
HalfBath,1379.0,0.395939,0.502402,0.0,0.0,0.0,1.0,2.000000
KitchenAbvGr,1379.0,1.038434,0.196048,1.0,1.0,1.0,1.0,3.000000
LotArea,1379.0,10695.812183,10214.702133,1300.0,7741.0,9591.0,11708.5,215245.000000
LotFrontage,1379.0,75.112314,28.214221,21.0,60.0,71.0,88.0,405.783193
LowQualFinSF,1379.0,4.134880,40.130546,0.0,0.0,0.0,0.0,572.000000
MSSubClass,1379.0,56.022480,41.026897,20.0,20.0,50.0,70.0,190.000000
MasVnrArea,1379.0,108.364757,184.195220,0.0,0.0,0.0,170.5,1600.000000
MiscVal,1379.0,42.889050,501.613931,0.0,0.0,0.0,0.0,15500.000000
MoSold,1379.0,6.334300,2.696674,1.0,5.0,6.0,8.0,12.000000
OpenPorchSF,1379.0,47.276287,65.210465,0.0,0.0,27.0,69.5,547.000000
OverallCond,1379.0,5.577955,1.081031,2.0,5.0,5.0,6.0,9.000000
OverallQual,1379.0,6.187092,1.345780,2.0,5.0,6.0,7.0,10.000000
PoolArea,1379.0,2.920957,41.335545,0.0,0.0,0.0,0.0,738.000000
ScreenPorch,1379.0,15.945613,57.249593,0.0,0.0,0.0,0.0,480.000000
TotRmsAbvGrd,1379.0,6.552574,1.589821,3.0,5.0,6.0,7.0,12.000000
TotalBsmtSF,1379.0,1074.445975,436.371874,0.0,810.0,1008.0,1314.0,6110.000000
WoodDeckSF,1379.0,97.456853,126.699192,0.0,0.0,0.0,171.0,857.000000
YearBuilt,1379.0,1972.958666,29.379883,1880.0,1955.0,1976.0,2001.0,2010.000000
YearRemodAdd,1379.0,1985.435098,20.444852,1950.0,1968.0,1994.0,2004.0,2010.000000
YrSold,1379.0,2007.812183,1.330221,2006.0,2007.0,2008.0,2009.0,2010.000000
SalePrice,1379.0,185479.511240,79023.890600,35311.0,134000.0,167500.0,217750.0,755000.000000

In [210]:
df.nunique()

1stFlrSF        738
2ndFlrSF        401
3SsnPorch        20
BedroomAbvGr      7
BldgType          5
               ...
WoodDeckSF      267
YearBuilt       109
YearRemodAdd     61
YrSold            5
SalePrice       640
Length: 69, dtype: int64

### Encoding of Categorical Features

In [211]:
cols = df.columns
num_cols = df.select_dtypes(np.number).columns
num_cols

Index(['1stFlrSF', '2ndFlrSF', '3SsnPorch', 'BedroomAbvGr', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtFullBath', 'BsmtHalfBath', 'BsmtUnfSF',
       'EnclosedPorch', 'Fireplaces', 'FullBath', 'GarageArea', 'GarageCars',
       'GarageYrBlt', 'GrLivArea', 'HalfBath', 'KitchenAbvGr', 'LotArea',
       'LotFrontage', 'LowQualFinSF', 'MSSubClass', 'MasVnrArea', 'MiscVal',
       'MoSold', 'OpenPorchSF', 'OverallCond', 'OverallQual', 'PoolArea',
       'ScreenPorch', 'TotRmsAbvGrd', 'TotalBsmtSF', 'WoodDeckSF', 'YearBuilt',
       'YearRemodAdd', 'YrSold', 'SalePrice'],
      dtype='object')

In [212]:
cat_cols = list(set(cols) - set(num_cols))
cat_cols

['GarageType',
 'LotShape',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 'Street',
 'RoofMatl',
 'Exterior2nd',
 'Utilities',
 'SaleCondition',
 'HouseStyle',
 'LandSlope',
 'GarageCond',
 'Exterior1st',
 'Foundation',
 'Condition1',
 'LotConfig',
 'MSZoning',
 'Neighborhood',
 'Heating',
 'Condition2',
 'ExterCond',
 'ExterQual',
 'BldgType',
 'LandContour',
 'Functional',
 'KitchenQual',
 'GarageFinish',
 'GarageQual',
 'SaleType',
 'PavedDrive',
 'RoofStyle']

In [213]:
catdf = df[cat_cols]
catdf.nunique()

GarageType        6
LotShape          4
HeatingQC         5
CentralAir        2
Electrical        5
Street            2
RoofMatl          8
Exterior2nd      16
Utilities         2
SaleCondition     6
HouseStyle        8
LandSlope         3
GarageCond        5
Exterior1st      14
Foundation        6
Condition1        9
LotConfig         5
MSZoning          5
Neighborhood     25
Heating           6
Condition2        8
ExterCond         4
ExterQual         4
BldgType          5
LandContour       4
Functional        7
KitchenQual       4
GarageFinish      3
GarageQual        5
SaleType          9
PavedDrive        3
RoofStyle         6
dtype: int64

In [214]:
from sklearn.preprocessing import LabelEncoder
# Create LabelEncoder object
encoder = LabelEncoder()

# Encode categorical variables as integers
for var in cat_cols:
    df[var] = encoder.fit_transform(df[var])

In [215]:
df.head()

,1stFlrSF,2ndFlrSF,3SsnPorch,BedroomAbvGr,BldgType,BsmtFinSF1,BsmtFinSF2,BsmtFullBath,BsmtHalfBath,BsmtUnfSF,...,ScreenPorch,Street,TotRmsAbvGrd,TotalBsmtSF,Utilities,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold,SalePrice
0,856.0,854.0,0.0,3,0,706.0,0.0,1,0,150.0,...,0.0,1,8,856.0,0,0.0,2003,2003,2008,208500.0
1,1262.0,0.0,0.0,3,0,978.0,0.0,0,1,284.0,...,0.0,1,6,1262.0,0,298.0,1976,1976,2007,181500.0
2,920.0,866.0,0.0,3,0,486.0,0.0,1,0,434.0,...,0.0,1,6,920.0,0,0.0,2001,2002,2008,223500.0
3,961.0,756.0,0.0,3,0,216.0,0.0,1,0,540.0,...,0.0,1,7,756.0,0,0.0,1915,1970,2006,140000.0
4,1145.0,1053.0,0.0,4,0,655.0,0.0,1,0,490.0,...,0.0,1,9,1145.0,0,192.0,2000,2000,2008,250000.0

### Feature Selection

In [216]:
y = df['SalePrice']
X = df.drop('SalePrice', axis = 1)

In [220]:
from sklearn.feature_selection import SelectPercentile
from sklearn.feature_selection import f_classif

#The top 40% of features will be selected using chi2
selector = SelectPercentile(score_func= f_classif, percentile = 50)
selector.fit_transform(X,y)

print(X.shape)
print('Selected Features are \n',selector.get_support())

(1379, 68)
Selected Features are
 [ True  True False False False  True False False False  True  True False
  True False False False  True False False  True  True  True False  True
  True False  True False  True  True  True  True  True  True False False
  True False False  True False  True  True False False  True  True  True
 False False  True False  True False False False False False False False
  True  True  True False  True  True  True False]

In [221]:
# Get the indices of the selected features
selected_features = selector.get_support(indices=True)

# Drop the non-selected features from the dataframe
X_selected = X.iloc[:, selected_features]

# Print the resulting dataframe with only the selected features
X_selected = DataFrame(X_selected)
X_selected.head(20)

,1stFlrSF,2ndFlrSF,BsmtFinSF1,BsmtUnfSF,CentralAir,Condition2,ExterQual,Fireplaces,Foundation,FullBath,...,MasVnrArea,MiscVal,OpenPorchSF,OverallQual,Street,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd
0,856.0,854.0,706.0,150.0,1,2,2,0,2,2,...,196.0,0.0,61.0,7,1,8,856.0,0.0,2003,2003
1,1262.0,0.0,978.0,284.0,1,2,3,1,1,2,...,0.0,0.0,0.0,6,1,6,1262.0,298.0,1976,1976
2,920.0,866.0,486.0,434.0,1,2,2,1,2,2,...,162.0,0.0,42.0,7,1,6,920.0,0.0,2001,2002
3,961.0,756.0,216.0,540.0,1,2,3,1,0,1,...,0.0,0.0,35.0,7,1,7,756.0,0.0,1915,1970
4,1145.0,1053.0,655.0,490.0,1,2,2,1,2,2,...,350.0,0.0,84.0,8,1,9,1145.0,192.0,2000,2000
5,796.0,566.0,732.0,64.0,1,2,3,0,5,1,...,0.0,700.0,30.0,5,1,5,796.0,40.0,1993,1995
6,1694.0,0.0,1369.0,317.0,1,2,2,1,2,2,...,186.0,0.0,57.0,8,1,7,1686.0,255.0,2004,2005
7,1107.0,983.0,859.0,216.0,1,2,3,2,1,2,...,240.0,350.0,204.0,7,1,7,1107.0,235.0,1973,1973
8,1022.0,752.0,0.0,952.0,1,2,3,2,0,2,...,0.0,0.0,0.0,7,1,8,952.0,90.0,1931,1950
9,1077.0,0.0,851.0,140.0,1,0,3,2,0,1,...,0.0,0.0,4.0,5,1,5,991.0,0.0,1939,1950
10,1040.0,0.0,906.0,134.0,1,2,3,0,1,1,...,0.0,0.0,0.0,5,1,5,1040.0,0.0,1965,1965
11,1182.0,1142.0,998.0,177.0,1,2,0,2,2,3,...,286.0,0.0,21.0,9,1,11,1175.0,147.0,2005,2006
12,912.0,0.0,737.0,175.0,1,2,3,0,1,1,...,0.0,0.0,0.0,5,1,4,912.0,140.0,1962,1962
13,1494.0,0.0,0.0,1494.0,1,2,2,1,2,2,...,306.0,0.0,33.0,7,1,7,1494.0,160.0,2006,2007
14,1253.0,0.0,733.0,520.0,1,2,3,1,1,1,...,212.0,0.0,213.0,6,1,5,1253.0,0.0,1960,1960
15,854.0,0.0,0.0,832.0,1,2,3,0,0,1,...,0.0,0.0,112.0,7,1,5,832.0,48.0,1929,2001
16,1004.0,0.0,578.0,426.0,1,2,3,1,1,1,...,180.0,700.0,0.0,6,1,5,1004.0,0.0,1970,1970
17,1296.0,0.0,0.0,0.0,1,2,3,0,3,2,...,0.0,500.0,0.0,4,1,6,0.0,0.0,1967,1967
18,1114.0,0.0,646.0,468.0,1,2,3,0,2,1,...,0.0,0.0,102.0,5,1,6,1114.0,0.0,2004,2004
19,1339.0,0.0,504.0,525.0,1,2,3,0,1,1,...,0.0,0.0,0.0,5,1,6,1029.0,0.0,1958,1965

### Target Discretization

### Feature Scaling

## Classification